/* =================Extra small device========= */
@media (max-width:575.99px) {
    /* ============common for all============ */


    .section_header h2 {
        font-size: 38px;
        padding: 4px 0 27px;
    }
    h5 {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .common_p{
        font-size: 16px;
    }

    /* ============navbar=========== */
    .navbar{
        background: rgba(12, 53, 67, 0.767);
    }
    .navbar-toggler i{
        color: #ffffff; 
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar ul{
        padding-bottom: 20px;
    }
    /* ========banner section============== */
    #banner {
        padding: 191px 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner_wrapper h1 {
        width: auto;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 55px;
    }
    .banner_btns, .video_btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    /* ===============Join section============ */
    #join{
        padding: 50px 0 50px;
    }
    #join ul {
        padding: 0px 0 14px;
    }
    #join ul li {
        font-size: 16px;
    }
    .join_img1 {
        margin: 0 auto;
        height: 420px;
        padding: 0 5vw; 
        border-radius: 12px;
    }
    .join_img1 {
       object-fit:fill;
    }
    .join_img2 {
        display: none;
        width: auto;
        height: 420px;
        overflow: hidden;
    }
    /* ==========counter section============== */
    #counter {
        padding: 0 5vw 50px;
    }
    #counter span {
        font-size: 50px;
    }
    /* =============sports activity============= */
    #sports_activity {
        padding: 50px 0 50px;
    }
    #sports_activity .section_header p {
        padding: 35px 0 0px;
        margin: 0;
    }
    #sports_activity .section_footer {
        margin-top: 50px;
    }
    #sports_activity .section_footer span {
        font-size: 50px;
    }
    /* ============video section============= */
    #video {
        padding-top: 50px;
    }
    #video .section_header .video_btns {
        padding: 50px 0 60px;
    }
    #video .section_header .vdo_btn {
        width: 200px;
        padding: 18px 0;
        background: #0C3543;
        border: 1px solid transparent;
    }
    .video_item_wrapper{
        flex-direction: column;
        row-gap: 30px;
    }
    .vdo_item .overlay .overlay_wrapper h5::after {
        display: none;
    }
    .vdo_item .overlay .overlay_wrapper {
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .vdo_item .overlay .overlay_wrapper h4 {
        font-size: 36px;
    }
    /* =========why choose us section========== */
    #choose_us {
        padding: 50px 0 50px;
    }
    .choose_us_item_wrapper{
        flex-direction: column;
        row-gap: 50px;
    }
    #choose_us .card .card-body h6 {
        padding: 20px 0 16px;
    }
    /* =========news section========== */
    #news {
        padding: 50px 0 50px;
    }
    #news .news_item_wrapper {
        padding-top: 0px;
        flex-direction: column;
        row-gap: 50px;
    }
    /* =============logo section=========== */
    #logo{
        margin: 0 auto;
    }
    #logo .logo_item {
        height: 164px;
    }
    #logo .logo_item img{
        height: 70%;
        width: 70%;
    }
    /* =========footer section========= */
    .footer_content {
        padding: 50px 0 20px 0px;
    }
    .footer_top{
        flex-direction: column;
        align-items: start;
        justify-content: start;
        row-gap: 30px;
    }
    .footer_p {
        width: auto;
    }
    footer .contact_section {
        padding-top: 50px;
        margin-top: 40px;
    }
    .contact_section h5 {
        margin-bottom: 20px;
    }
    .copyright {
        text-align: center;
    }
}