@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Yellowtail&display=swap');
:root{
    --transition: all linear .3s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p,.row{
    margin: 0;
}
h5{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h6{
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.common_btn{
    
    background: #000;
    border-radius: 4px;
    background: #FF9600;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all linear .3s;
}
.common_btn:hover{
    color: #000;
    background: #ffffff;
}
.common_p{
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ================navbar section=========== */
.navbar{
    padding: 20px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99999999;
}

.navbar-nav{
    display: flex;
    column-gap: 50px;
}
.nav-item .nav-link{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: var(--transition) ;
}
.nav-item .nav-link:hover{
    color: #FF9600;
}
.nav_btn{
    padding: 18px 51px;
}
/* =============Banner section============ */
#banner{
    position: relative;
    background: url(../images/banner.png);
    padding: 291px 156px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_wrapper h1{
    width: 820px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 55px;
}
.banner_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.banner_shap{
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner_shap {
    width: 100%;
    
}
.banner_shap img{
    width: 100%;

}
/* ===================join section================ */
#join{
    padding: 72px 0 85px;
}
.section_header h5{
    color: #14B9F1;
    font-family: Yellowtail;
}
.section_header h2{
    position: relative;
    color: #222;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 4px 0 27px;
    margin: 0;
}
.section_header h2::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background: #A0A0A0;
}
.section_header p{
    padding: 35px 0 43px;
    margin: 0;
}
#join ul{
    padding: 40px 0 14px;
    margin-bottom: 0;
}
#join ul li{
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    padding-bottom: 30px;
    margin: 0;
    column-gap: 23px;
}
#join ul li i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.join_img1{
    width: 300px;
    height: 620px;
    overflow: hidden;
}
.join_img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.join_img2{
    width: 300px;
    height: 520px;
    overflow: hidden;
}
.join_img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.join_btn{
    padding: 18px 40px;
}

/* ==================Counter section============= */
#counter{
    padding-bottom: 203px;
}
#counter span{
    color: #222;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#counter .counter_item1{
    background: #FFF4E5;
    padding: 40px 0 45px;
}
#counter .counter_item2{
    background: #E7FDE9;
    padding: 40px 0 45px;
}
#counter .counter_item3{
    background: #F2F2FD;
    padding: 40px 0 45px;
}
#counter .counter_item4{
    background: #FDF1F5;
    padding: 40px 0 45px;
}
/* <!-- ================sports Activities================= --> */
#sports_activity{
    padding: 102px 0 83px;
    background: #0C3543;
}
#sports_activity .section_header h5{
    color: #FF9600;
}
.sports_activity_item_wrapper{
    row-gap: 50px;
    margin-top: 62px;
}
#sports_activity .card{
    background: #0F4152;
}
#sports_activity .card .card_image{
    height: 365px;
    width: auto;
    overflow: hidden;
}
#sports_activity .card .card_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#sports_activity .card .card-body {
    padding: 27px 0 32px;
}
#sports_activity .card .card-body h6{
    width: 250px;
}
#sports_activity .card .card-body p{
    padding-top: 24px;
}

/* =================Why choose us section================== */
#choose_us{
    padding: 192px 0 100px;
}
#choose_us .section_header h2::after{
    left: 50%;
    transform: translateX(-50%);
}
#choose_us .card,#news .card{
    border: none;
}
#choose_us .choose_us_item_wrapper{
    margin-top: 50px;
}
#choose_us .card_image{
    width: 130px;
    height: 130px;
    background: #F2F2FD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#choose_us .card .card-body {
    padding:  0;
}
#choose_us .card .card-body h6{
    padding:  56px 0 16px;
}

/* =================News section============== */
#news{
    padding: 100px 0 128px;
    background: #F7F7F7;
}
#news .section_header h5{
    color: #FF9600;
}
#news .news_item_wrapper{
    padding-top: 70px;
}
#news .card .card_image{
    height: 300px;
    width: auto;
    overflow: hidden;
}
#news .card .card_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#news .card .card-body {
    padding:  0;
}
#news .card .card-body h5{
    padding:  27px 0 20px;
}
#news .card .card-body p{
    padding:  0 28px 45px;
    border-bottom: 1px solid #EEEEEE;
}
#news .card .card-body a{
    display: inline-block;
    color: #FF9600;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding:  30px 0 37px;
}

/* ==============logo section=========== */
#logo{
    padding: 45px 0;
}
#logo .logo_item{
    height: 264px;
    width: auto;
    display: flex;
    align-items: center;
}

/* =============footer section============== */
footer{
    background: #0C3543;
    /* padding: 80px 73px; */
}
.footer_content{
    padding: 80px 0 70px 40px;
}
.footer_content .footer_logo{
    padding-bottom: 40px;
}
.footer_btn{
    padding: 18px 42px;
}
.footer_p{
    width: 560px;
}
footer .contact_section{
    padding-top: 67px;
    margin-top: 83px;
    border-top: 2px solid rgba(196, 196, 196, 0.50);
}
.contact_section{
    column-gap: 108px;
}
.contact_section .email{
    padding: 26px 0 28px;
}
.contact_section h5{
    position: relative;
    padding-bottom: 25px;
}
.contact_section h5::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background: #A0A0A0;
}
.copyright{
    padding: 77px 0 0;
}
/* font-family: 'Yellowtail', cursive; */

/*  */